<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>All</title>
</head>
<body>
    <h1>saved entries</h1>
    <table>
        <tr>
            <th>Date:</th>
            <th>Text:</th>
        </tr>
        <tr th:each="log: ${logs}">
            <td th:text="${log.date}"></td>
            <td th:text="${log.text}"></td>
        </tr>
    </table>
</body>
</html>