<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Sundayyy</h1>
    <div class="login">
        <div>
            <label for="username">Username:</label>
            <input type="text">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password">
        </div>
        <div>
            <button type="submit">Login</button>
            <a href="/signUp">no account yet? sign up</a>
        </div>
    </div>
</body>
</html>